/* Reseteo de márgenes y alineación centrada */
* {
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #FF9A76, #333);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: white;
    text-align: center;
    gap: 20px;
}

.container {
    max-width: 400px;
    width: 90%;
    padding: 20px;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 15px;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 0.9em;
    color: #ddd;
    margin-bottom: 20px;
}

.link-button {
    display: block;
    width: 100%;
    padding: 15px 0;
    margin: 10px 0;
    background-color: white;
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s;
    border: 3px solid #ffffff;

    position: relative;
    
}
.link-button a {
    text-decoration: none;
    color: black;
}
.link-button a:hover {
    color: #ddd;
}

.link-button:hover {
    background-color: #ff9b7600;
    color: #ffffff;

}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #ddd;
}

/* Fondo del modal */
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* Contenedor del modal */
.modal {
    background-color: white;
    border-radius: 8px;
    width: 90%;
    max-width: 512px;
    max-height: 75vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* Encabezado */
.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 1px solid #e0e0e0;
}

.modal-header h2 {
    margin: 0;
    font-size: 18px;
}

/* Botones de la cabecera */
.modal-button {
    background: none;
    border: none;
    cursor: pointer;
}

/* Cuerpo del modal */
.modal-body {
    padding: 16px;
    overflow-y: auto;
    flex: 1;
}

/* Enlaces de lista */
.link-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.link-item {
    display: flex;
    align-items: center;
    padding: 12px;
    border: 1px solid #d7dce1;
    border-radius: 4px;
    text-decoration: none;
    color: black;
}

.link-item:hover {
    background-color: #f0f0f0;
}

.link-icon {
    margin-right: 8px;
}



.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}
.ml-auto {
    margin-left: auto;
}
.text-pebble {
    --tw-text-opacity: 1;
    color: rgb(168 170 162 / var(--tw-text-opacity));
}
@media (min-width: 767px) {
    .md\:mr-4 {
        margin-right: 1rem;
    }
}

.title {
    color: black;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-self: center;

}



.modal-button.close-modal {
    background: none;
    border: none;
    cursor: pointer;
}

.modal-button svg {
    width: 16px;
    height: 16px;
}

.modal-title {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
    color: #555;
}

.listen-on {
    text-align: left;
    width: 100%;
    margin-top: 24px;
}

.listen-on h4 {
    margin: 0 0 8px 0;
    font-size: 1em;
    color: #555;
}


.share-button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 6px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    opacity: 0.5;
    transition: opacity 0.3s;
    cursor: pointer;
  }
  
  .share-button:hover {
    opacity: 1;
  }

 .share-button1 {
    position: absolute;
    right: 10px;
    top: 18px;
    background: transparent;
    border: none;
 }