/* Reseteo de márgenes y alineación centrada */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #FF9A76, #333);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: white;
    text-align: center;
    gap: 20px;
}

.container {
    max-width: 400px;
    width: 90%;
    padding: 20px;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 15px;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 0.9em;
    color: #ddd;
    margin-bottom: 20px;
}

.link-button {
    display: block;
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    background-color: white;
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s;
    &:hover {
        
        background-color: #ffffff00;
    }
}

.link-button:hover {
    background-color: #eee;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #ddd;
}
